doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  title WebCoder
  link(rel="stylesheet" type="text/css" href="bootstrap.min.css")
  link(rel="stylesheet" type="text/css" href="styles.css")
body
  script var mode = "!{mode}", socket="!{socket}"
  div(class="pick")
    div(class="form-group col-sm-4 col-xs-6")
      select(class="form-control input-sm select-pref" id="language-select")
    div(class="form-group col-sm-2 col-xs-6 pull-right")
      select(class="form-control input-sm select-pref" id="keybinding-select")
  pre(id="editor")= text
  script(src="src-min-noconflict/ace.js" type="text/javascript" charset="utf-8")
  script(src="bundle.js")

