doctype html
html(lang="en")
head
  title Git-It-Together
  link(rel="stylesheet" type="text/css" href="css/bootstrap.min.css")
  link(rel="stylesheet" type="text/css" href="css/font-awesome.min.css")
  link(rel="stylesheet" type="text/css" href="css/styles.css")
body(class="container main-bg")
  div(class="jumbotron main-panel text-center")
    h1 WebCoder
    label You are logged in to Github
      i(class="fa fa-github")
    div(class="form-group")
      a(class="btn btn-lg btn-primary" href="/") Back to home
