body {
    overflow: hidden;
    margin: 0;
}

#editor {
    margin: 0;
    position: relative;
    height: 100vh;
    border: none;
    border-radius: 0;
}

.lang-pick {
    background-color: #272822;
    padding: 10px;
    margin-bottom: 0;
    padding-bottom: 1px;
}

.main-panel {
    margin-top: 30vh;
    background-color: rgba(20, 20, 20, .9);
    color: #ccc;
}

.main-bg {
    background-image: url('./bg-code.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
